---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
    filterByLanguage,
    getAllPosts,
    sortMDByDate,
    sortMDByPinned,
} from "@/utils";
import type {CollectionEntry} from "astro:content";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "en").slice(0, MAX_POSTS);
---

<BaseLayout title="Home">
    <section>
        <h1 class="title">hello world</h1>
        <div>
            <SocialMediaLinks/>
        </div>
    </section>

    <section class="mt-8 sm:mt-16">
        <h2 class="title">entries</h2>
        <ul class="space-y-4 sm:space-y-2">
            {
                filteredPostsByLanguage.map((p) => (
                        <PostPreview post={p as CollectionEntry<"blog">}/>
                ))
            }
        </ul>
    </section>
</BaseLayout>
